@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body.toplevel_page_coursetransit,
body[class*="coursetransit"] {
    font-family: "Google Sans", sans-serif;
}

/* Apply ONLY to CourseTransit UI */
body.wp-admin {
    font-family: 'Google Sans', system-ui, -apple-system,
        'Segoe UI', Roboto, sans-serif;
}

/* Force Google Sans inside CourseTransit app */
/* Apply Google Sans safely */
body.wp-admin .main-content,
body.wp-admin .main-content *:not(i):not(span):not(.material-icons):not(.dashicons) {
    font-family: 'Google Sans', system-ui, -apple-system,
        'Segoe UI', Roboto, sans-serif;
}

body.wp-admin {
    overflow-x: hidden;
}